.cs-table {
    height: 220px;
    width: 750px;
    overflow-y: auto;
    overflow-x: auto;
    display: block;
    border: 2px solid #74BDA1;
}

.cs-table-wrapper {
    height: 220px;
    width: 750px;
    overflow-y: auto;
    overflow-x: auto;
    font-weight: 400;
    text-align: left;
}


.cs-head-cell {
    position: sticky;
    top: 0;
    text-align: left;
    font-size: 14px;
    background-color: #348F6C;
    color: #ffffff;
    height: 40px;
}

.modal-search{
    display: flex;
    justify-content: left;
}

.ps-search-input {
    width: 340px;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 20px;
    border: 2px solid #74BDA1;
}

.cs-code {
    width: 90px;
}

.cs-name {
    width: 90px;
}

.cs-manager {
    width: 60px;
}

.cs-address {
    width: 180px;
}

.cs-phone {
    width: 120px;
}

.cs-email {
    width: 180px;
}

.ps-body td {
    height: 30px;
}