.mh-modal {
    display: block; /* 모달이 열릴 때 */
    position: fixed;
    z-index: 1000; /* 모달의 z-index 설정 */
    left: 0; /* 화면 왼쪽 */
    top: 0; /* 화면 위쪽 */
    width: 100%; /* 전체 너비 */
    height: 100%; /* 전체 높이 */
    background-color: rgba(0, 0, 0, 0.4);
}

.mh-order-modal-content {
    background-color: #fefefe;
    padding: 20px 120px 20px 120px !important;
    width: 760px;
    height: 560px !important;
    border: 10px solid #348F6C !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mh-modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-title {
    font-size: 26px !important;
    font-weight: 1000;
    padding-left: 40px;
    padding-top: 10px;
}

.modal-close {
    color: #525252;
    font-size: 50px;
    cursor: pointer;
    padding-right: 40px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.mh-order-table {
    margin: 0 auto;
    width: 680px;
    height: 140px !important;
    max-height: 100%;
    border-collapse: collapse;
    border: 2px solid #74BDA1;
    table-layout: fixed;
}

.mh-order-table thead {
    display: table;
    width: 100%;
    table-layout: fixed;
    height: 30px;
}

.mh-order-table tbody {
    display: block;
    height: 100px !important;
    max-height: 100px !important;
    overflow-y: auto;
    width: 100%;
    table-layout: fixed;
}

.mh-order-table tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.mh-order-table th {
    font-size: 14px;
}