.graph-info-container {
    margin-top: 20px;
    padding-left: 180px; 
    height: 600px;
}

.graph-info-header {  
    width: 1540px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.graph-per {
    font-size: 18px;
    margin-left: auto;
}

.graph-info-title {
    font-size: 24px;
    font-weight: bold;
}

.graph-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    width: 1500px;
    background-color: #f4f4f4;
}

.graph1 {
    max-width: 450px;
    max-height: 380px; 
    font-size: 16px;
    padding-bottom: 10px;
}

.recharts-wrapper {
    max-width: 450px;
    max-height: 380px;
    border: 2px solid #348F6C;
}

.recharts-surface {
    background-color: #ffffff;
}