.mainpage-container {
    /* padding-left: 140px;
    padding-right: 140px; */
    width: 1340px;
    margin: 0 auto;
    padding-top: 30px;
}

.main-page-navicontainer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 18px;
    font-weight: bold;
    width: 870px;
    height: auto;
    margin: 20px auto;
}

.order-search, .product-search, .customer-search,
.order-post, .price-search, .management-go {
    width: 100px;
    height: 100px;
}

.order-search, .product-search, .customer-search {
    border: 5px solid #348F6C;
    color: #348F6C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    gap: 10px;
}

.order-post, .price-search, .management-go {
    background-color: #348F6C;
    border: 5px solid #348F6C;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    gap: 10px;
}

.order-search img, .product-search img, .customer-search img, .order-post img, .price-search img, .management-go img {
    width: 36px;
    height: 36px;
}

.favorite-section {
    width: 870px;
    height: auto;
    margin: 80px auto 20px;
    align-items: center;
    justify-content: center;
}

.favorite-title {
    font-size: 24px; /* 고정된 폰트 크기 */
    font-weight: 1000;
    color: #2F6952;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 10px;
    position: relative;
}

.favorite-img {
    width: 30px;
    height: 30px;
}

.favorite-img img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.favorite-content {
    width: 870px; /* 고정된 폭 */
    height: auto;
    /* background-color: #CEE2DA; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    padding: 20px 0;
    color: #41856a;
    font-size: 18px;
    font-weight: 1000;
}

.favorite-content-1, .favorite-content-2, .favorite-content-3 {
    width: 860px;
    height: 100px;
    background-color: #ffffff;
    border: 5px solid #63ad8f;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.favorite-content-firstline, .favorite-content-secondline {
    display: flex;
    align-items: center;
}

.order-number, .customer-code, .order-date {
    width: 260px;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.delivery-request-date {
    width: 260px;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 16px;
}

.order-status {
    width: 230px;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    display: flex;
    gap: 10px;
}   

.favorite-icon {
    width: 30px;
    height: 30px;
    padding-right: 30px;
}