.search-info-table tbody {
    overflow-y: auto;
    overflow-x: auto;
}

.search-info-tr {
    font-size: 15px;
}

/* .search-info-td.itemName, .search-info-td.itemCode {
    max-width: 240px;
} */

.search-info-td.unit {
    width: 50px;
}