.search-info-container {
    padding-left: 180px; 
    height: 400px;
    width: 1600px;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.order-button, .modify-button {
    width: 140px;
    height: 32px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: auto;
    background-color: #348F6C;
    color: #ffffff;
    font-size: 14px;
    font-weight: 1000;
    border: none;
}

.order-button:hover, .modify-button:hover {
    background-color: #2b664f;
}

/* 스크롤바 */
::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

.search-info-table thead {
    height: 60px;
    text-align: center;
    border-bottom: 1px solid #d5d5d5;
    color: #3f3f3f;
    background-color: #f2f2f2;
    font-size: 14px;
    position: sticky;
    top: 0;
}

.search-info-table tbody {
    overflow-y: auto;
    overflow-x: auto;
}

.search-info-table th, .search-info-table td {
    width: 70px;
}