.detail-search-box {
    margin-top: 16px;
    padding-left: 180px !important; 
    height: 180px;
    width: 1600px;
}

.detail-search-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1600px;
    min-width: 1600px;
    height: 80px !important;
    gap: 6px !important;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #74BDA1;
  }
  
  .form-row {
    display: flex;
    justify-content: center;
    gap: 1px !important;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 16px !important;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 레이블과 입력 필드를 위아래로 */
    width: 260px !important;
  }

  .form-group input {
    width: 250px !important;
  }
  
  
  .form-input::before {
    content: attr(placeholder);
  }

  .form-input {
    width: 240px !important;
    height: 38px;
    padding: 10px;
    padding-top: 14px !important;
    font-size: 14px;
    border: 1px solid #74BDA1;
    border-radius: 4px;
    box-sizing: border-box; /* 패딩을 포함하여 박스 모델 계산 */
  }
  
  /* @media (max-width: 1200px) {
    /* .form-row {
      flex-wrap: wrap;
    } */
    /* .form-group {
      width: 48%;
      margin-bottom: 10px;
    } */



  .search-button {
    width: 110px;
    height: 32px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 36px;
    margin-top: 5px;
    margin-bottom: auto;
    background-color: #348F6C;
    color: #ffffff;
    font-size: 14px;
    font-weight: 1000;
    border: none;
  }

  .search-button:hover {
    background-color: #1a704d;
  }

  .drop-down {
    width: 100%;
    height: 38px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #74BDA1;
    border-radius: 4px;
    box-sizing: border-box; /* 패딩을 포함하여 박스 모델 계산 */
  }

  .selected-keywords {
    display: flex;
    flex-wrap: wrap;
    margin-right : auto;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    padding: 4px;
    padding-left: 20px;
    border: 1px solid #348F6C;
    width: 1575px !important;
    height: 40px;
  }

  .keyword-tag {
    display: flex;
    align-items: center;
    padding: 6px;
    background-color: #348F6C;
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
  
  .keyword-tag button {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
  } 

  .keyword-icon {
    width: 30px;
    height: 30px;
  }