.header {
    width: 100%;
    height: 5vw;
    padding-left: 140px;
    padding-right: 140px;
    border-bottom: 2px solid #e0e0e0;
    display: flex;
    flex-direction: row;
}

.logo-img {
    position: absolute;
    left: 10%;
    width: 14vw;
    cursor: pointer;
    margin-top: 0.3vw;
}

.logo-img img {
    max-width: 14vw;
    height: 5vw;
}

.user-info {
    width: 21vw;
    height: 5vw;
    position: absolute;
    right: 3.6%;
    left: auto;
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
}

.user-img {
    width: 3vw;
}

.user-img img {
    width: 100%;
    height: auto;
}

.user-info-detail {
    width: 6vw;
    font-size: 0.9vw;
    font-weight: bold;
    text-align: left;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0.7vw 0;
    padding-left: 0.5vw;
}

.logout {
    width: 5vw;
    height: 2vw;
    color: #ffffff;
    font-size: 0.9vw;
    font-weight: bold;
    background-color: #348F6C;
    cursor: pointer;
    border: none;
    margin-top: 4%;
}