* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
}

.sidebar-container {
    display: flex;
    flex-direction: row;
    width: 6vw;
    height: auto;
    position: absolute;
}

.sidebar-button {
    position: absolute;
    top: 1vw;
    left: 2.5vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sidebar-button img {
    width: 2.8vw;
    height: 2.8vw;
}

.sidebar {
    position: relative;
    width: 100%;
    background-color: #348F6C;
    height: auto;
    transition: width 0.1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar.open {
    width: 0%;
}

.sidebar-button.active + .side-menu-bar {
    display: flex;
}

.side-menu-bar {
    height: 30vw;
    margin-top: 2vw;
}

.home-side, .search-side, .graph-side, .management-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vw;
    cursor: pointer;
}

.home-side img, .search-side img, .graph-side img, .management-side img {
    width: 3vw;
    height: 3vw;
}

.home-side span, .search-side span, .graph-side span, .management-side span {
    margin-top: 0.5vw;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2vw;
}

.side-menu-bar-top, .side-menu-bar-bottom {
    width: 100%;
    background-color: #ffffff;
}

.side-menu-bar-top {
    height: 7vw;
}