.tab-section {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 16px;
    padding-left: 9.4vw;  
}

.order-tab, .product-tab, .customer-tab, .price-tab, .history-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11vw;
    height: 2.5vw;
    background-color: #348F6C;
    color: #ffffff;
    font-size: 1vw;
    font-weight: bolder;
    padding-left: 0.9vw;
}

.order-tab img, .product-tab img, .customer-tab img, .price-tab img, .history-tab img {
    width: 1vw;
    height: 1.3vw;
    margin-left: auto;
    margin-right: 0.6vw;
}

.order-tab {
    background-color: #6E7874;
}