.tab-section {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 16px;
    padding-left: 180px !important;  
    max-width: 100%;
    min-width: 1200px;
}

.order-tab, .product-tab, .customer-tab, .price-tab, .history-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 46px;
    background-color: #348F6C;
    color: #ffffff;
    font-size: 18px;
    font-weight: bolder;
    padding-left: 18px;
    flex-shrink: 0;
}

.order-tab img, .product-tab img, .customer-tab img, .price-tab img, .history-tab img {
    width: 20px;
    height: 26px;
    margin-left: auto;
    margin-right: 14px;
}

.active {
    background-color: #6E7874;
}