.search-info-section {
    height: 250px;
}

.search-info-table {
    table-layout: fixed; /* 테이블 레이아웃을 고정으로 설정 */
    width: 100%; /* 너비를 100%로 */
    height: 200px !important; /* 테이블 전체의 고정 높이 */

}

.search-info-table thead {
    width: 100%;
    height: 40px;
    text-align: center;
    border-bottom: 1px solid #d5d5d5;
    color: #3f3f3f;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: bold;
    display: table;
    position: sticky;
    top: 0;
}

.search-info-table tbody {
    overflow-y: auto;
    display: table;
    height: 240px; 
}

.search-info-table tr {
    font-size: 12px;
    border-bottom: 1px solid #d5d5d5;
}

.search-info-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    height: 50px; /* 각 행의 고정 높이 */
}

/* .search-info-td.itemName, .search-info-td.itemCode {
    max-width: 240px;
} */

.search-info-table th, .search-info-table td {
    width: 70px;
}

.sp-form-row input::before {
    content: attr(placeholder);
  }